.github {
    color: #000000;
    background: #e9e9e9;
}
.qq {
    color:#f9ae08;
    background-color:rgba(249,174,8,.1);
}
.steam {
    color: #123cff;
    background-color: #b8c7ff;
}
.bilibili {
    color:#e76a8d;
    background-color:rgba(231,106,141,.15);
}